.responsive {
	width: 100%;
	height: auto;
}

.center {
	margin: auto;
	width:50%;
}

.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

canvas {
    border: solid 1px #000;
}

.lol {
    transition: color 1s, font-size 0.5s;
    color: #000000;
    font-size: 100%;
}

/* http://stackoverflow.com/questions/19038070/html-newline-char-in-div-content-editable
   https://packagecontrol.io/packages/CSS%20Comments */
#sample {
    white-space: pre;
}
